Webhook.json
{
  "name": "Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-age",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        368
      ],
      "id": "02c06c88-8152-4aff-a4d4-d888a0d0332b",
      "name": "Webhook",
      "webhookId": "57e154d6-cdfe-4684-a864-e462edff2f82"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "Customer",
        "columns": {
          "column": [
            {
              "name": "name"
            },
            {
              "name": "email"
            },
            {
              "name": "message"
            },
            {
              "name": "age",
              "type": "number"
            },
            {
              "name": "source"
            },
            {
              "name": "isAdult",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        688
      ],
      "id": "0b809c0f-6b5a-4954-b1f1-c2a4ba0429d7",
      "name": "Create a data table"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        688
      ],
      "id": "6d74f129-7bf2-4d4f-a621-cf1426744a6e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467b5d3c-8d6e-47b5-96bb-cf104e24fbf7",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "eefc8b15-9e64-4fd7-a464-268a44df7b5c",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "d8f67263-3d43-4428-bcc6-23b3f7919146",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "6e49a916-63fa-43ad-bfd4-59460b10548e",
              "name": "age",
              "value": "={{ $json.body.age }}",
              "type": "number"
            },
            {
              "id": "cb69f912-d823-4b70-b0e7-d0b83ec8e207",
              "name": "source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        368
      ],
      "id": "4c691ddb-29d6-4bd6-9885-41174b1b3442",
      "name": "Edit Fields",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "7Wmx47I9EDi0TJQ4",
          "mode": "list",
          "cachedResultName": "Customer",
          "cachedResultUrl": "/projects/JChHfYjs5kfUenkP/datatables/7Wmx47I9EDi0TJQ4"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "isAdult": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAdult",
              "displayName": "isAdult",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -320,
        160
      ],
      "id": "20bafb37-1b2d-43d8-9e4d-4bd6aa8c8410",
      "name": "Insert row",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7Wmx47I9EDi0TJQ4",
          "mode": "list",
          "cachedResultName": "Customer",
          "cachedResultUrl": "/projects/JChHfYjs5kfUenkP/datatables/7Wmx47I9EDi0TJQ4"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        128,
        64
      ],
      "id": "1bf6f4a4-e8b2-4ec2-a0a7-04bbb1eda30c",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -560,
        688
      ],
      "id": "20f53ab6-b408-45db-affa-f3b25491b1c2",
      "name": "List data tables"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "delete",
        "dataTableId": {
          "__rl": true,
          "value": "7Wmx47I9EDi0TJQ4",
          "mode": "list",
          "cachedResultName": "Customer",
          "cachedResultUrl": "/projects/JChHfYjs5kfUenkP/datatables/7Wmx47I9EDi0TJQ4"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -992,
        688
      ],
      "id": "2c30d56a-7fb2-4999-8dce-ef720805c055",
      "name": "Delete a data table"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Age cannot be a string\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -768,
        464
      ],
      "id": "514ea517-f6c0-4a9d-90b7-f0eb1582eeb0",
      "name": "Error (Age)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Fields cannot be empty\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -544,
        352
      ],
      "id": "1706540c-4c3a-4a7a-beab-2fb33e89b7e0",
      "name": "Error (Fields empty)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$json.isAdult = $input.item.json.age >= 18;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        160
      ],
      "id": "2e0d86e4-3d28-4c74-be2c-da36b2b26746",
      "name": "isAdult"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Success insert\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        64
      ],
      "id": "aac4a57e-b7a3-479b-b602-e83a138f3064",
      "name": "Success (Insert)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Row insert failed\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        256
      ],
      "id": "f0a5fe3d-80a4-4a7e-bf41-f4e5357d8167",
      "name": "Error (Insert Failed)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ba51a33-0747-4b9a-9f43-b8cb37aa2d2d",
              "leftValue": "={{ $('Webhook').item.json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8aaa8962-4389-4200-8179-f889c74a3a4c",
              "leftValue": "={{ $('Webhook').item.json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9b1fb3ee-1408-4ac4-b2f8-b3b965d07bd6",
              "leftValue": "={{ $('Webhook').item.json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9186e1fc-c2b9-4cde-be3e-a224a29e216c",
              "leftValue": "={{ $('Webhook').item.json.body.age }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "eb9e0f35-ad2b-4512-b7c6-eccbf311c0e8",
              "leftValue": "={{ $('Webhook').item.json.body.source }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        240
      ],
      "id": "a1e2dab9-4520-4b77-b036-fb1741e8dee2",
      "name": "If (Check is empty)",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Delete a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If (Check is empty)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error (Age)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Success (Insert)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error (Insert Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a data table": {
      "main": [
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a data table": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isAdult": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success (Insert)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (Check is empty)": {
      "main": [
        [
          {
            "node": "isAdult",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error (Fields empty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9342ad34-7d4a-4748-ac3c-ea85842b8a68",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "Sbl1GjyCjU4pjeLV",
  "tags": []
}